// FONT-SIZE
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 30px;
$fs-8: 32px;
$fs-9: 40px;

// FONT-WEIGHT
$fw-1: 300;
$fw-2: 400;
$fw-3: 500;
$fw-4: 600;
$fw-5: 700;

// COLOR
$black-1: #000;
$black-2: #140101;
$black-3: #1e1d1d;

$white-1: #fff;
$white-2: #f5f5f5;
$white-3: #f7f7f7;
$white-4: #f8f8f8;
$white-5: #fffcfc;
$white-6: #fff8f8;
$white-7: #fffefe;

$gray-1: #dedddc;
$gray-2: #cbc9c9;
$gray-3: #d9d9d9;
$gray-4: #ccc;

$green-1: #1ed90e;
$green-2: #9de167;

$purple-1: #ae18e2;
$purple-2: #dd2aed;

$red-1: #f50e0e;
$red-2: #fc0303;
$red-3: #fb0b0b;
$red-4: #eb5757;

$yellow-1: #f8b653;
$yellow-2: #e1b067;
$yellow-3: #f2994a;

$blue-1: #6200ee;
$blue-2: #1877f2;
